body {
padding:0;
margin:0;
font-family:"Georgia, 'Times New Roman', Times, serif";
background-image: url(../images/ripples.png)
}

header {
    width: 100vw;
    height: 70px;
    background: white;
    border-bottom: #666666;
}

.header-inner {
    width: 960px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.header-inner > span {  
    background-color: #4aaaa5;
    font-weight: bold;
    font-size: 24px;
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

footer {
    border-top: 8px solid;
    border-color: #4aaaa5;
    background: #666666;
    color: white;
    text-align: center;
    height: 30px;
}

.About, .Contact{
    color: #777777;
    border-right: solid #cccccc ; 
    padding: 0 20px;
}

.Portfolio { 
    color: #777777;
    padding: 0 20px;
}

section {
    height: 300px;
    background: white;
    width: 960px;
    margin: 70px auto 100px;
    min-height: calc(100vh - 240px);
    display: block;
}

h1 {
    color: #4aaaa5;
    
}

.titleAboutMe {
     padding-bottom: 10px;
     border-bottom: 2px #cccccc solid;
     margin: 10px;
     align-items: center;
     display: flex;
}

.textAboutMe { 
   margin: 30px

}

.MyPic {
  float: left;
  height: 200px;
  width: 200px;  
  margin: 30px;
}

.Title_Contact {
    padding-bottom: 10px;
    border-bottom: 2px #cccccc solid;
    margin: 10px;
    align-items: center;
    display: flex;
}

.form {
    width: 100%;
}

.form_style {
    width: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 10px 10px 10px 10px;
}

.submit {
    background-color: #4aaaa5;
    color: white;
    padding: 5px 15px;
    border: solid #4aaaa5;
}
